footer.footer
  .wrapper
    .footer__contents
      .footer__logo 
        img(src="./img/logo_big.svg" alt="Fitnesso Logo")
      .footer__contacts 
        h2.footer__title CONTACT 
        a(href="mailto:contact@fitnesso.com").footer__mail contact@fitnesso.com
        h2.footer__title LICENCING
        a(href="#").footer__link Copyright Flow Ninja
        a(href="#").footer__link Powered By Webflow
        a(href="#").footer__link Licencing
        a(href="#").footer__link Support
      .footer__explore
        h2.footer__title EXPLORE
        a(href="#").footer__link Premium Courses
        a(href="#").footer__link Free Courses
        a(href="#").footer__link Blog
        a(href="#").footer__link About
        a(href="#").footer__link Contact
        a(href="#").footer__link Style Guide
    .footer__payments
      img(src="./img/paypal.webp" alt="Paypal Logo" width="45" height="29")
      img(src="./img/stripe.webp" alt="Stripe Logo" width="45" height="29")
      img(src="./img/gradient.webp" alt="Unknown Logo" width="45" height="29")
      img(src="./img/mastercard.webp" alt="Mastercard Logo" width="45" height="29")
      img(src="./img/amexpress.webp" alt="American Express Logo" width="45" height="29")