header.header
  .wrapper 
    nav.nav
      .logo 
        img(src="./img/logo.svg" alt="Fitnesso Logo")
      .nav__links
        a(href="#").nav__link About 
        a(href="#").nav__link Free Workouts 
        a(href="#").nav__link Shop 
        a(href="#").nav__button.button BOOK A CALL 
        a(href="#").nav__cart: img(src="./img/cart.svg" alt="Cart")