.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $blue-1;
  color: white;

  &__contents {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  } 

  &__logo {
    margin-right: 331px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    width: 422px;
    margin-right: 50px;
  }

  &__explore {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: white;
    @include red-hat-display-normal(14px, 22px);
    margin-bottom: 14px;
  }

  &__mail {
    color: white;
    @include roboto-normal(27px, 48px);
    margin-bottom: 20px;
  }

  &__link {
    color: white;
    @include roboto-normal(18px, 32px);
    margin-bottom: 5px;
  }

  &__payments {
    & img {
      margin-right: 65px;
    }
  }
}