*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  @include red-hat-display-normal(14px, 22px);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1368px;
  margin: 0 auto;
}

.button {
  padding: 12px 20px 12px 40px;
  background-color: $blue-1;
  color: #fff;
  border-radius: 6px;
}