.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 7px;
}

.nav__link {
  margin-left: 40px;
  color: $blue-1;
}

.nav__button {
  margin-left: 20px;
}

.nav__cart {
  position: relative;
  top: 5px;
  margin-left: 25px;
}