.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 12px;

  &__link {
    margin-left: 40px;
    color: $blue-1;
  }

  &__button {
    margin-left: 20px;
  }

  &__cart {
    position: relative;
    top: 5px;
    margin-left: 25px;
  }
}