$base-color: #ffffff;

$grey-1: #8ea5a0;
$grey-2: #dfdfdf;
$grey-3: #eef0f4;

$blue-1: #081158;
$blue-2: rgba(08, 11, 58, 20%);

$orange-1: #ec8675;

$mediaWidthMobileSmall: 320px;
$mediaWidthMobileBig: 480px;
$mediaWidthTabletSmall: 640px;
$mediaWidthTabletBig: 960px;
$mediaWidthLaptop: 1200px;